<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/bootstrap-min.css">

    <title>Notigator</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#github">Notigator</a>
      </nav>
      </br>
      </br>
      <div id="alert"></div>
      <div class="row" id="main">
        <div class="col-3" id="sidebar">
          <div class='list-group' id='list-sources'></div>
        </div>
        <div class="col-9" id="content">
          <div class='list-group' id='list-notifications'></div>
        </div>
      </div>
    </div>

    <script type="text/template" id="notifications-view-tmpl">
      <% if (notifications.size() == 0) { %>
        <center>No notifications!</center>
      <% } else { %>
        <% _.each(notifications.groupByScopes(), function(group, idx) { %>
          <li id="<%= idx %>" class="scope-title list-group-item list-group-item-secondary">
            <div class="row">
              <div class="col-11">
                <%= group.scope %>
              </div>
              <div class="col-1">
                <span class="badge badge-pill badge-secondary"><%= group.notifications.length %></span>
              </div>
            </div>
          </li>
          <div id="notifications-<%= idx %>">
            <% _.each(group.notifications, function(event) { %>
              <a href="<%= event.get('url') %>" target="_blank" class="list-group-item list-group-item-action">
                <%= event.get('title') %>
              </a>
            <% }); %>
          </div>
          </br>
        <% }); %>
      <% } %>
    </script>

    <script type="text/template" id="source-view-tmpl">
      <%= name %>
    </script>

    <script type="text/template" id="alert-view-tmpl">
      <%= text %>
    </script>

    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/underscore-min.js"></script>
    <script src="/assets/js/backbone-min.js"></script>
    <script src="/assets/js/front.js"></script>
  </body>
</html>
